table, tr, td {
    border: none;
}
table { 
  border-collapse:collapse;
  width: auto;
  table-layout:auto;
  margin-left:auto;
  margin-right:auto;
}
.thead { 
  border-top: double;
  text-align:center;
  font-style:normal;
  font-weight:bold;
  padding:0.2cm;
}
.tdata { 
  padding:0.2cm;
  text-align:left;
  vertical-align:top;
}
.arc { 
  background-color:#f2f2f2;
}
.summary { 
  padding-top:0.1cm;
  padding-bottom:0.1cm;
}
.summarydata { 
  text-align:left;
}
.fixedparts { 
  font-weight:bold;
  text-align:left;
}
.randomparts { 
  font-weight:bold;
  text-align:left;
  padding-top:.8em;
}
.zeroparts { 
  font-weight:bold;
  text-align:left;
  padding-top:.8em;
}
.simplexparts { 
  font-weight:bold;
  text-align:left;
  padding-top:.8em;
}
.lasttablerow { 
  border-bottom: double;
}
.firstsumrow { 
  border-top:1px solid;
}
.labelcellborder { 
  border-bottom:1px solid;
}
.depvarhead { 
  text-align:center;
  border-bottom:1px solid;
  font-style:italic;
  font-weight:normal;
}
.depvarheadnodv { 
  border-top: double;
  text-align:center;
  border-bottom:1px solid;
  font-style:italic;
  font-weight:normal;
}
.leftalign { 
  text-align:left;
}
.centeralign { 
  text-align:center;
}
.firsttablecol { 
  text-align:left;
}
